<main>
  <section class="container mx-auto mt-20 max-w-[768px] min-h-[768px] bg-slate-300 p-10">
    <h2 class="text-center font-bold text-2xl">Todo List</h2>
    <div class="mt-10 flex justify-between relative">
      <input #note type="text" class="flex-1 bg-slate-100 p-3 pe-14 rounded-xl" (keyup.enter)="addNote(note.value)">
      <button class="p-2 bg-teal-500 text-white absolute right-0.5 top-0.5 bottom-0.5 rounded-xl"
        (click)="addNote(note.value)">Add note</button>
    </div>
    <div class="text-red-500" [innerHTML]="error"></div>
    <div class="mt-10">
      <h4 class="font-bold text-xl">My todos ({{totalNotes}})</h4>
      <div class=" max-h-[500px] overflow-y-auto">
        <div class="me-1">
          @for (note of myNotes; track $index;) {
          <div class="mt-10 flex justify-between items-center flex-1 gap-2">
            @if (edit && $index === editIndex) {
            <p>{{$index + 1}}.</p>
            <div class="flex justify-between relative flex-1">
              <input #editnote [value]="myNotes[$index]" type="text" class="bg-slate-100 p-3 pe-24 flex-1 rounded-xl"
                (keyup.enter)="editNote($index, editnote.value)">
              <button class="p-2 bg-teal-500 text-white absolute right-0.5 top-0.5 bottom-0.5 rounded-xl"
                (click)="editNote($index, editnote.value)">Confirm</button>
            </div>
            <div class="text-red-500" [innerHTML]="error"></div>
            }@else {
            <p class="flex">{{$index + 1}}. {{note}}</p>
            <div class="flex gap-2">
              <button class="bg-yellow-500 rounded-xl px-4 py-2 text-white" (click)="openEditNote($index)">Edit</button>
              <button class="bg-red-500 rounded-xl px-4 py-2 text-white" (click)="removeNote($index)">remove</button>
            </div>
            }
          </div>
          }@empty {
          <p class="mt-10 text-center">Add new notes</p>
          }
        </div>
      </div>
    </div>
  </section>
</main>